#menu{
    background: gold;
}

#menu ul{}
#menu ul li{
    display: inline;
    
}
#menu ul li a{
    display: inline-block;
    padding: 15px 25px;
    background-color: tomato;
    color: white;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: greenyellow;
    color: black;
}